// src/assets/scss/components/stickyWrap.module.scss
@use '@/assets/scss' as s;
@use 'sass:color';
@use 'sass:math';

.sticky-wrap {
  position: relative;

  &.fixed {
    z-index: 100;

    .placeholder {
      width: 100%;
      display: block;
    }

    .content {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      transition: top 0.3s ease;
    }
  }
}

.placeholder {
  display: none;
}
