@use '@/assets/scss' as s;
@use 'sass:color';
@use 'sass:math';

$header-height: 6rem;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

// header
.header {
  display: flex;
  width: 100%;
  background-color: var(--bg-light-5);
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  white-space: nowrap;

  // width: calc(max(80px, 20%));
}

.header-left {
  padding-left: 0.8rem;
  justify-content: flex-start;
}

.header-right {
  padding-right: 0.8rem;
  justify-content: flex-end;
}

.header-center {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.8rem;
  overflow: hidden;

  // min-width: 0; /* 이 설정이 중요함 - 내용에 맞게 수축할 수 있게 함 */
}

.header-title {
  font-weight: bold;
  font-size: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// footer
.footer {
  display: flex;
  width: 100%;
  background-color: var(--bg-light-5);
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.container {
  height: 100%;
  padding-top: $header-height;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  > div,
  > p,
  > ul,
  > ol {
    width: 100%;
  }
}

@include s.light-mode {
  .header,
  .footer {
    background-color: var(--bg-dark-5);
  }
}
