@use '@/assets/scss' as s;
@use 'sass:color';
@use 'sass:math';

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  justify-content: center;

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: yellow;
  }
}
