/* src/pages/guide/ButtonGuide.module.css */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  + .section {
    margin-top: 80px;
  }
}

.showcase {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.section-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
}
