/* src/pages/guide/ButtonGuide.module.css */
@use '@/assets/scss' as s;
@use 'sass:color';
@use 'sass:math';

.section {
  + .section {
    margin-top: 80px;
  }
}

.showcase {
  display: flex;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid var(--bg-dark-75);
}

.title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-dark-50);
}

.section-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sub-title {
  margin-top: 20px;
  margin-bottom: 10px;
}
