/* src/pages/guide/ButtonGuide.module.css */
@use '@/assets/scss' as s;
@use 'sass:color';
@use 'sass:math';

.txt {
  margin: 0.5em 0;
}

.section {
  + .section {
    margin-top: 80px;
  }
}

.showcase {
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid var(--bg-dark-75);

  &:global(.inline) {
    display: flex;
    gap: 10px;
  }
}

.title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-dark-50);
}

.section-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.sub-title {
  margin-top: 1em;
  margin-bottom: 0.5em;

  &:first-child {
    margin-top: 0;
  }
}

.control-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
