html {
  font-size: 62.5%;
}

body {
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font:
    normal 1.6rem/1.44 Roboto,
    'Noto Sans KR',
    'Apple SD Gothic Neo',
    AppleSDGothicNeo,
    sans-serif;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #fff;
  }
}
