@use '@/assets/scss' as s;
@use 'sass:color';
@use 'sass:math';

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // color
  --primary-color: #{s.$primary-color};
  --primary-color-rgb: 52, 152, 219; // primary-color의 RGB 값
  --secondary-color: #{s.$secondary-color};
  --secondary-color-rgb: 46, 204, 113; // secondary-color의 RGB 값

  @for $i from 0 through 20 {
    // 흰색에서 검은색으로 (light에서 dark로)
    --bg-light-#{$i * 5}: #{color.mix(#fff, #000, $i * 5%)};

    // 검은색에서 흰색으로 (dark에서 light로)
    --bg-dark-#{$i * 5}: #{color.mix(#000, #fff, $i * 5%)};
  }

  // padding, margin
  --side-padding: 2.4rem;
  --line-color: #d6dbe1;
  --strong-txt-color: #333;
}
